//variables

$white: #ffffff;
$background: linear-gradient(87.22deg, #FFB800 63.24%, #FF7A00 121.31%);
$dark-grey: #454647;
$light-grey: #949596;
$black: #000;
$orange: #FFB800;
$primary: #FF7A00;
$secondary: #FFB800;
$white: #fff;
$gray: #9b9b9b;

@mixin hover-state {
  color: $black;
  text-decoration: none;
}

@mixin title-style {
  color: $orange;
  text-transform: uppercase;
  font-family: 'Work Sans';
  font-size: 28px;
  font-weight: bolder;
}

/* Styling reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

/* Styling header and secondary header*/

.header {
  background: $background;
  display: flex;
  color: white;
  font-family: 'Nunito';
  padding: 15px;

  &__title {
    padding: 10px 10px 10px 30px;
    flex: 2;
    font-size: 24px;
  }

  &__search {
    margin: 10px 50px 10px 30px;
    font-size: 12px;
    background-color: $orange;
    border-radius: 25px;
    width: 150px;
    height: 30px;
    padding: 8px 10px 8px 20px;
    a{
      text-decoration: none;
      color: $white;
      text-align: left;
      &:hover {
        @include hover-state();
      }
    }
  }
}
.secondary-header {
  img {
    width: 1920px;
    height: 500px;
  }
  p::after {
    content: "New items you'll love \a Updated daily \a";
    white-space: pre;
    text-transform: uppercase;
    font-family: 'Work Sans';
    left: 100px;
    position: absolute;
    color: white;
    top: 350px;
    font-size: 60px;
    font-weight: bolder;
  
  }
}

/* Styling for footer b*/
.footer {
  padding: 40px;
  background-color: $black;
  color: $white;
  text-transform: uppercase;
  font-family: 'Work Sans';
  font-size: 10px;

  &__main {
    display: flex;
    gap: 10px;
  }
  &__name {
    flex: 1;
    font-size: 12px;
    background: $background;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Nunito';
  }
  hr {
    color: white;
  }

  &__secondary {
    padding: 20px 0 0 0;
  }
  
  hr {
    margin: 25px 0 0 0;
    height: 1px;
    background-color: #ccc;
    border: none;
  }

}

@media only screen and (max-device-width: 1000px) { 
  .footer {
    display: none;
  }
  p {
    font-size: 100px;
  }

  .header {
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 50px;

    &__search {
      margin: 0 0 -70px 0;

    }
  }
}

/* Styling for retrieving ALL listings from db*/

.container2 {

  &__title {
    @include title-style();
    :nth-child(2) {
      font-size: 18px;
      text-transform: capitalize;
    }
    :nth-child(3) {
      text-align: right;
      margin: -35px 25px 0 0;
      font-size: 18px;
      padding: 0 0 50px 0;
    }
  }
  padding: 60px 50px 60px 50px;
  &__items { 
    display: flex;
    flex-direction: column;
  }

  &__top {
    width: 197px;
    height: 202px;
  }

  &__stars {
    margin: 5px 0 0 -5px ;
    width: 100px;
    height: 30px;
  }

  #display-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 50px;
    align-content: center;
    justify-content: center;
    position: relative;
  }

  &__bottom {
    line-height: 20px;
    font-family: 'Work Sans';
    font-weight: 400;
    input {
      font-size: 15px;
    }

    :nth-child(5) {
      color: #D40000;
      font-weight: 800;
      font-size: 15px;
    }
  }
}


/* SECOND PAGE SHOWING THE FORM */

.container3 {
  padding: 60px 0 0 50px;
  &__title {
    display: flex;
    gap: 550px;
    @include title-style();
    padding: 0 0 20px 0;
  }

  a {
    height: 30px;
    width: 250px;
    font-size: 12px;
    text-transform: capitalize;
    background-color: $orange;
    border: none;
    color: $white;
    margin: 0 0 60px 0;
    border-radius: 5px;
    text-align: center;
    padding: 7px 0 0 0;
    text-decoration: none;
    
    &:active, &:hover {
      background-color: #FF7A00;
    }
  
  }
  
  button {
    height: 30px;
    width: 1000px;
    background-color: $orange;
    border: none;
    color: $white;
    margin: 0 0 60px 0;
    border-radius: 5px;
    &:active, &:hover {
      background-color: #FF7A00;
    }
  }
  &__form {
    label, p {
      line-height: 20px;
      font-family: 'Work Sans';
      font-size: 12.5px;
      font-weight: 400;
      color: $black
    }
    &__title {
      padding: 0 0 30px 0;

    }
  }
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field, .form__field--size {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1rem;
  color: $black;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  font-family: 'Work Sans';

  &--size {
    width: 50%;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.form__field:focus, .form__field--size:focus {
  ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight:500;    
  }
  padding-bottom: 6px;  
  font-weight: 500;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
}
/* reset input */
.form__field, .form__field--size{
  &:required,&:invalid { box-shadow:none; }
}


/* THIRD PAGE SHOWING THE SELLING LIST */

.listing-show {
  margin: -70px 0 0 0;
  display: flex;
  flex-direction: column;
  padding: 0 0 30px 0;

  .container2__items {
    display: grid;
    grid-template-columns: .5fr 2.5fr 0.1fr 1fr 0.1fr 1fr;
    gap: 15px;
    width: 100%;
    padding: 20px 0 20px 0;
    justify-items: center;


    .sellers-items {
      width: 260px;
      height: 200px;
      padding-left: 50px;
    }

    &:nth-child(even) {
      background-color: #EDEDED;
    }

    .container2__bottom--last {
      padding: 0 40px 0 0 ;
    }
  }


  button {
    text-decoration: none;
    border: none;
    background-color: transparent;

    &:active, &:hover {
      color: $orange;
    }

  }
  .removal {
    color: black;
    font-weight: 100;
    padding: 5px 0 0 35px;
  }

}


.alignment {
  display: flex;
  flex-direction: row;
  gap: 100px;
  button {
    text-decoration: none;
    border: none;
    background-color: transparent;

    &:active, &:hover {
      color: $primary;
      font-weight: bolder;
    }

  }
}

.modal {
  position: absolute;
  text-align: center;
  text-align: center;
  @include title-style();
  font-size: 20px;
  color: $white;
  top: 30%;
  left: 50%;
  margin-left:-200px;
  margin-top:-50px;  
  background-color: $dark-grey;
  width: 400px;
  height: 120px;
  button {
    margin: 10px 0 0 0;
    font-size: 13px;
    background-color: #FFB800;
    border: none;
    width: 100px;
    height:30px;
    color: $white;
    &:active, &:hover {
      background-color: #FF7A00;
    }
  }

  input {
    margin: 10px 0 0 0;
    height: 50px;
    width: 350px;
  }
}