<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Up-Cycled</title>
        <link href="scss/style.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.7.8/dist/vue.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@700&family=Work+Sans&display=swap" rel="stylesheet">
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        
    </head>
    <body>
    <!--Main header-->
    <div class="header">
        <h1 class="header__title">Up-Cycled</h1>
        <div class="header__search">
            <a href="index.html"><p>Explore Listings</p></a>
        </div>
    </div>
    <!--Form for users to create a new listing-->
    <div class="container3">
        <div class="container3__title">
            <p>List an item</p>
            <a href="selling_list.html">view your previous listings</a>
        </div>
        <div id="insert-listing" class="container3__form">
            <form>
                <div class="form__group field">
                    <input type="input" class="form__field" v-model="title" title="title" id='title' required />
                    <label for="title" class="form__label">Add your listing title</label>
                </div>
                <br>
                <br>
                <div class="form__group field">
                    <input type="input" class="form__field" v-model="description" description="description" id='description' required />
                    <label for="title" class="form__label">Add a description</label>
                    <p>* Make this meaningful! tell us about your item. Start with a headline then add details including material, condition and style. Keep it short and accurate!</p>
                </div>
                <br>
                <br>
                <div class="form__group field">
                    <input type="input" class="form__field--size" v-model="size" size="size" id='size' required />
                    <label for="title" class="form__label">Size of Item</label>
                    <p>* Please follow the format S, M, L, XL, XXL</p>
                </div>
                <br>
                <br>
                <div class="form__group field">
                    <input type="input" class="form__field--size" v-model="price" price="price" id='price' required />
                    <label for="title" class="form__label">Price of Item</label>
                    <p>* Please follow the format $Amount Example: $65</p>
                </div>
                <br>
                <br>
                <button v-on:click="createPost">Submit</button>
            </form>
        </div>
    </div>
    <!--Footer-->
    <div class="footer">
        <div class="footer__main">
            <p class="footer__name">Niche Place</p>
            <p class="footer__number">(400) 555-0103</p>
            <p class="footer__mail">FinSweet@Example.com</p>
            <p class="footer__addy">4517 Washington Ave Wellington, New Zealand</p>
        </div>
        <hr>
        <div class="footer__secondary">
            <p>copyright 2022 all rights reserved</p>
        </div>
    </div>
    <div id="display-items"></div>
    </body>
    <script src="app.js"></script>

</html>